@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root{

    /* Primary */

    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    
    /* Neutral  */
    
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
    --White: hsl(0,0%,100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

body{
    color: var(--Very-Dark-Cyan);
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    overflow: auto;
}

header{
    display: flex;
    padding: 60px 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.top-logo{
    height: 25px;
    margin-right: auto;
}

.try-btn{
    border: 2px solid var(--Pink);
    border-radius: 20px;
    padding: 5px 25px;
    color: var(--Pink);
    cursor: pointer;
    margin-left: auto;
}

.title-content{
    margin: 8em auto 2em;
    width: 100%;
    text-align: center;
}

.sub-title{
    font-size: 13px;
    font-weight: 600;
    margin: 15px auto;
    max-width: 410px;
}
.get-started-btn{
    background-color: var(--Pink);
    color: var(--White);
    cursor: pointer;
    margin: 20px 0;
    padding: 18px;
    border: none;
    border-radius: 30px;
    min-width: 280px;
    font-weight: 600;
}
.stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4em 0;
}
.mockup-img{
    height: auto;
    width: 60%;
}
.stat-values{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3.5em;
}
.stat-num{
    color: var(--Very-Dark-Cyan);
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 5em 10em;
}
.stat-num>img{
    width: 20px;
}
.stat-num>.number{
    font-size: 5em;
    font-weight: 900;
}
.stat-data{
    font-size: 12px;
    opacity: 0.8;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em 0;
    position: relative;
}
.grow-together::before{
    content: '';
    background-image: url('images/bg-section-top-desktop-1.svg');
    background-size: cover;
    position: absolute;
    height: 130px; 
    top: -8rem;
    width: 100%;
}
.grow-together{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background-color: var(--Very-Pale-Blue);
    width: 100%;
    gap: 3em;
    padding: 5em;
    position: relative;
}
.grow-together::after{
    content: '';
    background-image: url('images/bg-section-bottom-desktop-1.svg');
    background-size: cover;
    position: absolute;
    height: 130px;
    bottom: -8rem;
    width: 100%;
    
}
.info img{
    height: 250px;
}

img.bg-svg{
    width: 100%;
    display: block;
    height: auto;
    z-index: -1;
}
.content{
    color: var(--Very-Dark-Cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    max-width: 600px;
}
.content>p{
    line-height: 1.5;
    font-size: 13px;
    width: 75%;
}
.flowing-convo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    margin: 5em 0;
    padding: 5em;
    width: 100%;
}
.your-users::before{
    content: ' ';
    background-image: url('images/bg-section-top-desktop-2.svg');
    background-size: cover;
    position: absolute;
    height: 130px; 
    top: -8rem;
    width: 100%;
}
.your-users{
    background-color: var(--Very-Pale-Blue);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 5em 0;
    gap: 3em;
    padding: 5em;
    position: relative;
    width: 100%;
}
.your-users::after{
    content: ' ';
    background-image: url('images/bg-section-bottom-desktop-2.svg');
    background-size: cover;
    position: absolute;
    height: 130px; 
    bottom: -8rem;
    width: 100%;
}
.end-title{
    margin: 5em 0 10em;
    padding: 5em;
    text-align: center;
}

footer{
    background-color: var(--Very-Dark-Cyan);
    color: var(--White);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin: 20px 0 0;
    width: 100%;
    padding: 20px 50px ;
    position: relative;
}
footer::before{
    content: " ";
    background-image: url('images/bg-footer-top-desktop.svg');
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    position: absolute;
    top: -8.1rem;
    height: 130px;   
}
.footer-content{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.footer-logo{
    height: 20px;
    width: 120px;
}
footer p{
    font-size: 12px;
    line-height: 1.5;
    max-width: 280px;
    margin: 10px 0;
}
.footer-icon{
    height: 25px;
    margin: 25px 5px 20px;
    cursor: pointer;
}

.newsletter{
    padding: 30px;
    
}
input{
    padding: 8px 30px;
    margin-right: 20px;
    border-radius: 5px;
}
.subscribe-btn{
    background-color: var(--Pink);
    border: none;
    border-radius: 5px;
    color: var(--White);
    font-weight: 500;
    padding: 8px 20px;
}
a{
    color: var(--White);
    text-decoration: none;
    margin: 0 5px;
}
a:hover{
    color: var(--Pink);
}
.try-btn:hover{
    color: var(--Light-Pink);
    border: 1px solid var(--Light-Pink);
}
.get-started-btn:hover,.subscribe-btn:hover{
    cursor: pointer;
    background-color: var(--Light-Pink);
}
@media screen and (max-width: 768px) {

    body{
        display: flex;
    }
    h1,h2{
        margin: auto;
        max-width: 400px;
        text-align: center;
    }
    .content{
        text-align: center;
    }
    .content>p{
        margin: auto;
    }
    .newsletter{
        width: 100%;    
    }
    .footer-content{
        width: 100%;
    }

}

   